<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23">
                            <path fill="#f35325" d="M1 1h10v10H1z" />
                            <path fill="#81bc06" d="M12 1h10v10H12z" />
                            <path fill="#05a6f0" d="M1 12h10v10H1z" />
                            <path fill="#ffba08" d="M12 12h10v10H12z" />
                        </svg>
                        <span><%- lang('loginOptions.loginWithMicrosoft') %></span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionDPCloudev" class="loginOptionButton">
                        <svg
                            width="22"
                            height="22"
                            viewBox="0 0 220 220"
                            version="1.1"
                            id="svg1"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg"><defs
                                id="defs1" /><g
                                id="layer1"><g
                                id="g1"
                                transform="translate(6.9409594,21.553506)"><path
                                    style="fill:#6f4119;stroke:none;stroke-width:1.62284"
                                    d="m 185.35864,116.03244 v 27.48011 h 27.48013 v -27.48011 z"
                                    id="path16" /><path
                                    style="fill:#f9f9f9;stroke:none;stroke-width:2.29504"
                                    d="m 157.87851,88.552311 v 54.960229 h 27.48013 V 88.552311 Z"
                                    id="path15" /><path
                                    style="fill:#653915;stroke:none;stroke-width:1.62284"
                                    d="m -7.0022289,116.03244 v 27.48011 H 20.477893 v -27.48011 z"
                                    id="path14" /><path
                                    style="fill:#553111;stroke:none;stroke-width:1.62284"
                                    d="m 185.35864,88.552295 v 27.480145 h 27.48013 V 88.552295 Z"
                                    id="path13" /><path
                                    style="fill:#010101;stroke:none;stroke-width:1.62284"
                                    d="M 47.958016,88.552295 V 143.51254 H 75.438135 V 88.552295 H 47.958016 m 82.440384,0 v 54.960245 h 27.48011 V 88.552295 Z"
                                    id="path12" /><path
                                    style="fill:#f9f9f9;stroke:none;stroke-width:1.62284"
                                    d="M 20.477893,88.552295 V 143.51254 H 47.958016 V 88.552295 Z"
                                    id="path11" /><path
                                    style="fill:#f7d185;stroke:none;stroke-width:1.62284"
                                    d="M 47.958016,61.072173 V 88.552295 H 75.438135 V 143.51254 H -7.0022289 v 54.96024 H 212.83876 V 143.51254 H 130.3984 v -27.4801 H 102.91828 V 88.552295 H 75.438135 V 61.072173 Z"
                                    id="path10" /><path
                                    style="fill:#653915;stroke:none;stroke-width:1.62284"
                                    d="m 130.3984,33.592054 v 27.480119 h 27.48011 V 33.592054 Z"
                                    id="path9" /><path
                                    style="fill:#6f4119;stroke:none;stroke-width:1.62284"
                                    d="M 102.91828,33.592054 V 116.03244 H 130.3984 V 88.552295 h 54.96024 V 61.072173 H 130.3984 V 33.592054 Z"
                                    id="path8" /><path
                                    style="fill:#653915;stroke:none;stroke-width:1.62284"
                                    d="M 75.438135,33.592054 V 88.552295 H 102.91828 V 33.592054 Z"
                                    id="path7" /><path
                                    style="fill:#553111;stroke:none;stroke-width:1.62284"
                                    d="M 47.958 33.5921 L 47.958 61.0722 L 20.4779 61.0722 L 20.4779 88.5523 L -7.00223 88.5523 L -7.00223 116.032 L 20.4779 116.032 L 20.4779 88.5523 L 47.958 88.5523 L 47.958 61.0722 L 75.4381 61.0722 L 75.4381 33.5921 Z"
                                    id="path6" /><path
                                    style="fill:#fff5f3;stroke:none;stroke-width:1.62284"
                                    d="M 20.477893,6.1119311 V 33.592054 H 47.958016 V 6.1119311 Z"
                                    id="path5" /><path
                                    style="fill:#fff5f3;stroke:none;stroke-width:1.62284"
                                    d="M 157.87947,6.1119961 V 33.592103 h 27.48014 V 6.1119961 Z"
                                    id="path5-0" /><path
                                    style="fill:#010101;stroke:none;stroke-width:1.62284"
                                    d="M 185.35864,-21.368191 V 6.1119311 h 27.48013 V -21.368191 Z"
                                    id="path4" /><path
                                    style="fill:#030303;stroke:none;stroke-width:1.62284"
                                    d="M 157.87851,-21.368191 V 6.1119311 h 27.48013 V 33.592054 h 27.48012 V 6.1119311 H 185.35864 V -21.368191 Z"
                                    id="path3" /><path
                                    style="fill:#e18715;stroke:none;stroke-width:1.62284"
                                    d="M 47.958016,-21.368191 V 33.592054 H -7.0022289 V 88.552295 H 20.477893 V 61.072173 H 47.958016 V 33.592054 H 157.87851 v 27.480119 h 27.48013 v 27.480122 h 27.48012 V 33.592054 h -54.96025 v -54.960245 z"
                                    id="path2" /><path
                                    style="fill:#030303;stroke:none;stroke-width:1.62284"
                                    d="M -7.0022289,-21.368191 V 33.592054 H 20.477893 V 6.1119311 H 47.958016 V -21.368191 Z"
                                    id="path1" /></g></g></svg>

                        <span><%- lang('loginOptions.loginWithDPCloudev') %></span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>